#section1{
    height: 400px;
    width:auto;
    
}

.titulo1 {
    padding-top: 110px;
    text-align: center;
    
}
.subtitulo1 {
    text-align: center;
}
.subtitulo1 img {
    height: 170px;
    border-radius: 30px;
}
#section2{
    height: 400px;
    width:auto;
    
}

.titulo2 {
    padding-top: 110px;
    text-align: center;
}
.subtitulo2 {
    text-align: center;
}
.subtitulo2 img {
    height: 170px;
}
#section3{
    height: 400px;
    width:auto;
    
}

.titulo3 {
    padding-top: 110px;
    text-align: center;
}
.subtitulo3 {
    text-align: center;
}
.subtitulo3 img {
    height: 170px;
    border-radius: 30px;
}
#section4{
    height: 400px;
    width:auto;
    
}

.titulo4 {
    padding-top: 110px;
    text-align: center;
}
.subtitulo4 {
    text-align: center;
}
.subtitulo4 img {
    height: 170px;
}
h3 {
    color: white;
    background-color: grey;
    
}
.nombre{
    
    width: 900px;
    padding-left: 50px;
    font-size: 50px;
    color: white;
    
    
  }
.menu {
    padding-left: 500px;
}

